In [25]:
import pandas as pd

In [26]:
raw_data = pd.read_csv('Dataset.csv')

In [28]:
raw_data.head(5)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11814183,JC416371,2019-09-01 09:00:00+00:00,038XX S ELLIS AVE,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,...,4.0,36,07,1182584.0,1879629.0,2019,2019-09-08 16:07:45+00:00,41.824914,-87.605655,"(41.824914418, -87.605655435)"
1,11770356,JC363819,2019-07-25 09:52:00+00:00,049XX N MILWAUKEE AVE,1120,DECEPTIVE PRACTICE,FORGERY,STREET,True,False,...,45.0,11,10,1139437.0,1932199.0,2019,2019-10-14 16:04:15+00:00,41.970067,-87.762668,"(41.970066618, -87.762668225)"
2,11757015,JC347959,2019-07-14 02:44:00+00:00,105XX S AVENUE M,0498,BATTERY,AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET S...,APARTMENT,False,True,...,10.0,52,04B,1201513.0,1835666.0,2019,2019-07-21 16:11:41+00:00,41.703817,-87.537704,"(41.703816562, -87.537703874)"
3,11729739,JC314541,2019-06-18 23:00:00+00:00,079XX S WOODLAWN AVE,0330,ROBBERY,AGGRAVATED,ALLEY,False,False,...,8.0,45,03,1185587.0,1852779.0,2019,2019-06-30 15:56:27+00:00,41.751166,-87.595484,"(41.751165501, -87.595483806)"
4,11713163,JC294692,2019-06-06 12:40:00+00:00,094XX S CRANDON AVE,2021,NARCOTICS,POSS: BARBITUATES,STREET,True,False,...,7.0,48,18,1193150.0,1843016.0,2019,2019-06-30 15:56:27+00:00,41.724194,-87.568088,"(41.724193641, -87.568087767)"

In [29]:
columns = raw_data.columns.tolist()
print(columns)

['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type', 'description', 'location_description', 'arrest', 'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude', 'location']

In [30]:
raw_data.describe()

,unique_key,beat,district,ward,community_area,x_coordinate,y_coordinate,year,latitude,longitude
count,3.000000e+04,30000.000000,30000.000000,29999.000000,30000.000000,2.949400e+04,2.949400e+04,30000.000000,29494.000000,29494.000000
mean,7.101561e+06,1006.345600,9.426867,17.495517,44.357533,1.167592e+06,1.868557e+06,2009.809200,41.794834,-87.661061
std,2.962270e+06,648.737593,6.281632,13.211404,18.816589,2.373540e+04,3.957639e+04,5.038006,0.109021,0.085880
min,6.900000e+02,131.000000,1.000000,3.000000,0.000000,0.000000e+00,0.000000e+00,2001.000000,36.619446,-91.686566
25%,4.521324e+06,433.000000,4.000000,8.000000,34.000000,1.149427e+06,1.838758e+06,2005.000000,41.712860,-87.727183
50%,7.212875e+06,815.000000,8.000000,11.000000,50.000000,1.174886e+06,1.862644e+06,2009.000000,41.779239,-87.633948
75%,9.758444e+06,1613.000000,16.000000,23.000000,57.000000,1.185782e+06,1.882132e+06,2014.000000,41.832205,-87.595355
max,1.186182e+07,2512.000000,31.000000,50.000000,74.000000,1.205119e+06,1.949924e+06,2019.000000,42.018925,-87.524529

In [31]:
raw_data.count()

unique_key              30000
case_number             30000
date                    30000
block                   30000
iucr                    30000
primary_type            30000
description             30000
location_description    29898
arrest                  30000
domestic                30000
beat                    30000
district                30000
ward                    29999
community_area          30000
fbi_code                30000
x_coordinate            29494
y_coordinate            29494
year                    30000
updated_on              30000
latitude                29494
longitude               29494
location                29494
dtype: int64

In [39]:
# finding out all the columns that have NANs
columnsNAN = raw_data.columns[raw_data.isna().any()].tolist()

In [40]:
print(columnsNAN)

['location_description', 'ward', 'x_coordinate', 'y_coordinate', 'latitude', 'longitude', 'location']

In [41]:
# number of NANs present in the columns that do have NANs
print(raw_data[columnsNAN].isna().sum())

location_description    102
ward                      1
x_coordinate            506
y_coordinate            506
latitude                506
longitude               506
location                506
dtype: int64

In [42]:
# finding which of the columns that have NANs are categorical and numerical respectively
for column in columnsNAN:
    print(column, '->', raw_data[column].dtype)

location_description -> object
ward -> float64
x_coordinate -> float64
y_coordinate -> float64
latitude -> float64
longitude -> float64
location -> object

In [43]:
import numpy as np

In [55]:
# filing up missing values with NANs
raw_data[columnsNAN == ''] = np.NaN

All the NANs for categorical columns being replaced with its previous row values. 
All the NANs for numeric columns being replaced with the mean of that column.

In [61]:
raw_data[['location','location_description']] = raw_data[['location','location_description']].fillna(method = 'ffill')

In [62]:
raw_data['latitude'] = raw_data['latitude'].fillna(raw_data['latitude'].mean())

In [63]:
raw_data['longitude'] = raw_data['longitude'].fillna(raw_data['longitude'].mean())

In [64]:
raw_data['x_coordinate'] = raw_data['x_coordinate'].fillna(raw_data['x_coordinate'].mean())

In [65]:
raw_data['y_coordinate'] = raw_data['y_coordinate'].fillna(raw_data['y_coordinate'].mean())

In [66]:
raw_data['ward'] = raw_data['ward'].fillna(raw_data['ward'].mean())

In [67]:
# NANs have been filled
print(raw_data[columnsNAN].isna().sum())

location_description    0
ward                    0
x_coordinate            0
y_coordinate            0
latitude                0
longitude               0
location                0
dtype: int64

In [68]:
raw_data.head(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location,False
0,11814183,JC416371,2019-09-01 09:00:00+00:00,038XX S ELLIS AVE,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,...,36,07,1182584.0,1879629.0,2019,2019-09-08 16:07:45+00:00,41.824914,-87.605655,"(41.824914418, -87.605655435)",NaN
1,11770356,JC363819,2019-07-25 09:52:00+00:00,049XX N MILWAUKEE AVE,1120,DECEPTIVE PRACTICE,FORGERY,STREET,True,False,...,11,10,1139437.0,1932199.0,2019,2019-10-14 16:04:15+00:00,41.970067,-87.762668,"(41.970066618, -87.762668225)",NaN

In [69]:
# dropping a column that was created unnecessarily
raw_data = raw_data.drop(False, axis = 1)

In [70]:
raw_data.head(2)

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11814183,JC416371,2019-09-01 09:00:00+00:00,038XX S ELLIS AVE,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,PARKING LOT/GARAGE(NON.RESID.),False,False,...,4.0,36,07,1182584.0,1879629.0,2019,2019-09-08 16:07:45+00:00,41.824914,-87.605655,"(41.824914418, -87.605655435)"
1,11770356,JC363819,2019-07-25 09:52:00+00:00,049XX N MILWAUKEE AVE,1120,DECEPTIVE PRACTICE,FORGERY,STREET,True,False,...,45.0,11,10,1139437.0,1932199.0,2019,2019-10-14 16:04:15+00:00,41.970067,-87.762668,"(41.970066618, -87.762668225)"

In [71]:
# Convert the 'datetime_column' to pandas DateTime object
raw_data['datetime_column'] = pd.to_datetime(raw_data['date'])

# Extract the date and time components into separate columns
raw_data['date'] = raw_data['datetime_column'].dt.date
raw_data['time'] = raw_data['datetime_column'].dt.time

# If you want to drop the original 'datetime_column', you can use:
# df.drop('datetime_column', axis=1, inplace=True)

# Print the updated DataFrame
print(raw_data)

       unique_key case_number        date                  block  iucr  \
0        11814183    JC416371  2019-09-01      038XX S ELLIS AVE  0930
1        11770356    JC363819  2019-07-25  049XX N MILWAUKEE AVE  1120
2        11757015    JC347959  2019-07-14       105XX S AVENUE M  0498
3        11729739    JC314541  2019-06-18   079XX S WOODLAWN AVE  0330
4        11713163    JC294692  2019-06-06    094XX S CRANDON AVE  2021
...           ...         ...         ...                    ...   ...
29995     9454542    HX107182  2014-01-06       009XX E 103RD ST  0460
29996     9433647    HW577194  2013-12-19     051XX S PULASKI RD  0460
29997     9330090    HW473616  2013-09-30       008XX E 133RD PL  0460
29998     9205317    HW351101  2013-07-06    085XX S CREGIER AVE  0460
29999     9187581    HW332705  2013-06-24     040XX W FOSTER AVE  0460

              primary_type                                        description  \
0      MOTOR VEHICLE THEFT                         THEFT/RECOVERY: AUTOMOBILE
1       DECEPTIVE PRACTICE                                            FORGERY
2                  BATTERY  AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET S...
3                  ROBBERY                                         AGGRAVATED
4                NARCOTICS                                  POSS: BARBITUATES
...                    ...                                                ...
29995              BATTERY                                             SIMPLE
29996              BATTERY                                             SIMPLE
29997              BATTERY                                             SIMPLE
29998              BATTERY                                             SIMPLE
29999              BATTERY                                             SIMPLE

                 location_description  arrest  domestic  ...  fbi_code  \
0      PARKING LOT/GARAGE(NON.RESID.)   False     False  ...        07
1                              STREET    True     False  ...        10
2                           APARTMENT   False      True  ...       04B
3                               ALLEY   False     False  ...        03
4                              STREET    True     False  ...        18
...                               ...     ...       ...  ...       ...
29995    GOVERNMENT BUILDING/PROPERTY   False     False  ...       08B
29996                    CTA BUS STOP   False     False  ...       08B
29997        SCHOOL, PUBLIC, BUILDING   False     False  ...       08B
29998                          STREET   False     False  ...       08B
29999  PARKING LOT/GARAGE(NON.RESID.)   False     False  ...       08B

       x_coordinate  y_coordinate  year                 updated_on   latitude  \
0         1182584.0     1879629.0  2019  2019-09-08 16:07:45+00:00  41.824914
1         1139437.0     1932199.0  2019  2019-10-14 16:04:15+00:00  41.970067
2         1201513.0     1835666.0  2019  2019-07-21 16:11:41+00:00  41.703817
3         1185587.0     1852779.0  2019  2019-06-30 15:56:27+00:00  41.751166
4         1193150.0     1843016.0  2019  2019-06-30 15:56:27+00:00  41.724194
...             ...           ...   ...                        ...        ...
29995     1184261.0     1836868.0  2014  2018-02-10 15:50:01+00:00  41.707535
29996     1150570.0     1870231.0  2013  2018-02-10 15:50:01+00:00  41.799809
29997     1184246.0     1817115.0  2013  2018-02-10 15:50:01+00:00  41.653330
29998     1189671.0     1848891.0  2013  2018-02-10 15:50:01+00:00  41.740399
29999     1148424.0     1934247.0  2013  2018-02-10 15:50:01+00:00  41.975517

       longitude                       location           datetime_column  \
0     -87.605655  (41.824914418, -87.605655435) 2019-09-01 09:00:00+00:00
1     -87.762668  (41.970066618, -87.762668225) 2019-07-25 09:52:00+00:00
2     -87.537704  (41.703816562, -87.537703874) 2019-07-14 02:44:00+00:00
3     -87.595484  (41.751165501, -87.595483806) 2019-06-18 23:00:00+00:00
4     -87.568088  (41.724193641, -87.568087767) 2019-06-06 12:40:00+00:00
...          ...                            ...                       ...
29995 -87.600839  (41.707535018, -87.600839053) 2014-01-06 07:45:00+00:00
29996 -87.723351  (41.799808989, -87.723350952) 2013-12-19 15:40:00+00:00
29997 -87.601508    (41.653330429, -87.6015084) 2013-09-30 12:45:00+00:00
29998 -87.580643  (41.740399385, -87.580642831) 2013-07-06 20:35:00+00:00
29999 -87.729569   (41.97551745, -87.729569215) 2013-06-24 08:10:00+00:00

           time
0      09:00:00
1      09:52:00
2      02:44:00
3      23:00:00
4      12:40:00
...         ...
29995  07:45:00
29996  15:40:00
29997  12:45:00
29998  20:35:00
29999  08:10:00

[30000 rows x 24 columns]

In [74]:
raw_data.drop['datetime_column']

TypeError: 'method' object is not subscriptable

In [84]:
import pandas as pd

# Assuming you have a DataFrame with a column named 'column_to_drop'
# Replace 'your_dataset.csv' with the path to your dataset file, if applicable
clean_dt = pd.DataFrame(raw_data)

# List down all the columns of the DataFrame
columns_list = clean_dt.columns.tolist()

# Print the list of columns
print(columns_list)
# Drop the column named 'column_to_drop'
clean_dt.drop('datetime_column', axis=1, inplace=True)

# Print the updated DataFrame
print(clean_dt)

['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type', 'description', 'location_description', 'arrest', 'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude', 'location', 'datetime_column', 'time']
       unique_key case_number        date                  block  iucr  \
0        11814183    JC416371  2019-09-01      038XX S ELLIS AVE  0930
1        11770356    JC363819  2019-07-25  049XX N MILWAUKEE AVE  1120
2        11757015    JC347959  2019-07-14       105XX S AVENUE M  0498
3        11729739    JC314541  2019-06-18   079XX S WOODLAWN AVE  0330
4        11713163    JC294692  2019-06-06    094XX S CRANDON AVE  2021
...           ...         ...         ...                    ...   ...
29995     9454542    HX107182  2014-01-06       009XX E 103RD ST  0460
29996     9433647    HW577194  2013-12-19     051XX S PULASKI RD  0460
29997     9330090    HW473616  2013-09-30       008XX E 133RD PL  0460
29998     9205317    HW351101  2013-07-06    085XX S CREGIER AVE  0460
29999     9187581    HW332705  2013-06-24     040XX W FOSTER AVE  0460

              primary_type                                        description  \
0      MOTOR VEHICLE THEFT                         THEFT/RECOVERY: AUTOMOBILE
1       DECEPTIVE PRACTICE                                            FORGERY
2                  BATTERY  AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET S...
3                  ROBBERY                                         AGGRAVATED
4                NARCOTICS                                  POSS: BARBITUATES
...                    ...                                                ...
29995              BATTERY                                             SIMPLE
29996              BATTERY                                             SIMPLE
29997              BATTERY                                             SIMPLE
29998              BATTERY                                             SIMPLE
29999              BATTERY                                             SIMPLE

                 location_description  arrest  domestic  ...  community_area  \
0      PARKING LOT/GARAGE(NON.RESID.)   False     False  ...              36
1                              STREET    True     False  ...              11
2                           APARTMENT   False      True  ...              52
3                               ALLEY   False     False  ...              45
4                              STREET    True     False  ...              48
...                               ...     ...       ...  ...             ...
29995    GOVERNMENT BUILDING/PROPERTY   False     False  ...              50
29996                    CTA BUS STOP   False     False  ...              62
29997        SCHOOL, PUBLIC, BUILDING   False     False  ...              54
29998                          STREET   False     False  ...              45
29999  PARKING LOT/GARAGE(NON.RESID.)   False     False  ...              13

       fbi_code  x_coordinate  y_coordinate  year                 updated_on  \
0            07     1182584.0     1879629.0  2019  2019-09-08 16:07:45+00:00
1            10     1139437.0     1932199.0  2019  2019-10-14 16:04:15+00:00
2           04B     1201513.0     1835666.0  2019  2019-07-21 16:11:41+00:00
3            03     1185587.0     1852779.0  2019  2019-06-30 15:56:27+00:00
4            18     1193150.0     1843016.0  2019  2019-06-30 15:56:27+00:00
...         ...           ...           ...   ...                        ...
29995       08B     1184261.0     1836868.0  2014  2018-02-10 15:50:01+00:00
29996       08B     1150570.0     1870231.0  2013  2018-02-10 15:50:01+00:00
29997       08B     1184246.0     1817115.0  2013  2018-02-10 15:50:01+00:00
29998       08B     1189671.0     1848891.0  2013  2018-02-10 15:50:01+00:00
29999       08B     1148424.0     1934247.0  2013  2018-02-10 15:50:01+00:00

        latitude  longitude                       location      time
0      41.824914 -87.605655  (41.824914418, -87.605655435)  09:00:00
1      41.970067 -87.762668  (41.970066618, -87.762668225)  09:52:00
2      41.703817 -87.537704  (41.703816562, -87.537703874)  02:44:00
3      41.751166 -87.595484  (41.751165501, -87.595483806)  23:00:00
4      41.724194 -87.568088  (41.724193641, -87.568087767)  12:40:00
...          ...        ...                            ...       ...
29995  41.707535 -87.600839  (41.707535018, -87.600839053)  07:45:00
29996  41.799809 -87.723351  (41.799808989, -87.723350952)  15:40:00
29997  41.653330 -87.601508    (41.653330429, -87.6015084)  12:45:00
29998  41.740399 -87.580643  (41.740399385, -87.580642831)  20:35:00
29999  41.975517 -87.729569   (41.97551745, -87.729569215)  08:10:00

[30000 rows x 23 columns]

In [86]:
clean_dt.to_csv('preprocessing_data.csv')